$white: white;
$gray-700: #3d3d3d;
$black: #151515;

$green-100: #e2fff6;
$green-500: #00eca5;
$green-600: #00b881;

$blue-400: #3c64f2;
$blue-500: #2454ff;

$red-500: #ef536d;

$orange-500: #ffbe15;
$orange-700: #f87830;
